* {
    font-size: 16px;
}
.conteiner div{
    margin-right: 0.5%;
    border-radius: 0px;

}
.room {
    width: 43%;
    padding: 1%;
}

.list__friends {
    width: 20%;
    background-color: white;
    padding: 0.5%;
}

.list__friends input {
    border: none;
    height: 1em;
}

.list__friends .list img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;

}

.list__friends .list div:first-child {
    margin-top: 20px;
}

.list__friends .list div:hover {
    cursor: pointer;
    background-color: #cbc3c3;
}

.room {
    height: 40em;
    padding: 0;
    border-radius: 0px;
}


.room .headerChat {
    height: 2.2em;
    background-color: white;
}


.contentChat {
    height: 32em;
    overflow: hidden;
    overflow-y:scroll;

    background-color: white;
}

.room .footer {
    height: 4.5em;
    background-color: white;

}

.room div {
    margin-bottom: 0.1em;
    border-radius: 0px;
    padding: 1%;
    overflow: no-content;
}

.footer textarea {
    width: 100%;
    resize: none;
}

/*//////////////////////////////////////////////////////////*/


.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}
