* {
    border-radius: 5px;
    margin: 0;
}

html {
    font-size: 20px;
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}



.gallery {
    width: 58%;
}


/* loadPhotos */
.loadPhotos{
    background-color: white;
    padding: 0.5%;
    line-height: 50px;

}
.loadPhotos span {
    padding-left: 3%;
}

.loadPhotos button {
    float: right;
    font-size: 20px;
}
/* loadPhotos */



/* photos */
.photos {
    margin-top: 0.5%;
    background-color: white;
    padding: 3%;

}

.photos img {
    height: 300px;
    max-height: 400px;
    max-width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* photos */

label {
    background-color: rgb(63, 141, 83);
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    cursor: pointer;
    font-size: 19px;
    margin-left: 3%;

}