.profil{
    padding: 20px;
    width: 18%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(218, 214, 214);

}

.imag {
    margin-bottom: 10px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.btn {
    width: 100%;

}

.conteinerInfo {
    width: 40%;
}

.info{
    background-color: white;
    padding: 2%;
}

.userName {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 25px;
    font-weight: 400;
    text-align: left;
}

.fields {
    width: 60%;

}

.fields ul  {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fields span {
    float: right;
}

.countInfo > div{

    display: inline-block;
    text-align: center;
    padding-left: 15%;

}

.info {
    margin-bottom: 3%;
}

.photos {
    background-color: white;
    padding: 2%;
    text-align: justify;
}
.photos:after {
    content:""; display: inline-block; width: 100%; height: 0;

}

.photos img {
    height: 150px;
    object-fit: cover;
    display:inline-block;
}


.photosGallery {
    margin-top: 0.5%;
    background-color: white;
    padding: 3%;

}

.photosGallery img {
    height: 300px;
    max-height: 400px;
    max-width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.count {
    border-radius: 50%;
    background: #a0a0a0;
    border: 2px solid #a0a0a0;
    color: #fff;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 2px;
    float: right;
}
