.profil{
    padding: 20px;
    width: 18%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(218, 214, 214);

}

.imag {
    margin-bottom: 10px;
    height: 300px;
    width: 100%;
}

.btn {
    width: 100%;

}

.conteiner {
    margin-top: 6%;
    width: 100%;
    height: 100%;
}
.conteiner > div {
    float: left;
    margin-right: 2%;
}


.conteinerInfo {
    width: 40%;
}

.info{
    background-color: white;
    padding: 2%;
}

.userName {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 25px;
    font-weight: 400;
    text-align: left;
}

.fields {
    width: 60%;

}

.fields ul  {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fields span {
    float: right;
}

.count ul {
    padding-left: 10%;
}
.count ul li{
    list-style: none;
    display: inline;

    padding-left: 30px;

}

.info {
    margin-bottom: 3%;
}

.myPhotos {
    background-color: white;
    padding: 2%;
}