<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">

    <title th:text="${user.getFullName()}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/aside.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/profil.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/friends.css}">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>

</head>
<body>


<div class="conteiner">

    <div th:replace="parts/header :: header"></div>

    <div th:replace="parts/aside :: aside"></div>


    <div class="profil">
        <!--/*@thymesVar id="encodeBase64" type="com.nikolai.network.dto.UserDto"*/-->
        <img class="imag" src="" alt="" th:src="@{'data:image/jpeg;base64,'+${user.encodeBase64}}">


        <div class="dropdown" th:if="${user.getEmail() == #authentication.name}">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Edit
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                    <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#myModal">Change
                        avatar
                    </button>
                </li>
                <li><a class="dropdown-item" href="#">Change Information</a></li>
            </ul>
        </div>

        <div th:if="${user.yourFriend == true}">
            <button type="button" class="btn btn-outline-success" disabled>your friend</button>
        </div>

        <div th:if="${user.getEmail() != #authentication.name and user.yourFriend == false}">
            <a th:href="@{/friends/requestAddFriends(toId = ${user.getId()})}" role="button" class="btn btn-outline-primary addFriend">add to friends</a>
        </div>


    </div>

    <!--/*@thymesVar id="fullName" type="com.nikolai.network.dto.UserDto"*/-->
    <div class="conteinerInfo">
        <div class="info">

            <p class="userName" th:text="${user.fullName}"></p>
            <hr>

            <div class="fields">

                <ul>
                    <li>Birthday: <span th:text="${user.birthday}"></span></li>
                    <li>Date registration: <span th:text="${user.dateRegistr}"></span></li>
                </ul>

            </div>

            <hr>

            <div class="countInfo">

                <div class="allFriends" style="cursor: pointer" onclick="showModalFriends()">
                    <span th:text="${friends.size()}" ></span> <br>
                    Friends
                </div>

                <div>
                    <span th:text="${user.countSubscribers}" ></span> <br>
                    Subscribers
                </div>

<!--                data-bs-toggle="modal" data-bs-target="#myModal"-->
                <div class="allPhotos" onclick="showModalPhotos()" style="cursor: pointer">
                    <span th:text="${images.size()}" ></span> <br>
                    Photos
                </div>

            </div>

        </div>

        <div class="photos">
            <span th:each="image, imageState : ${images}">

            <img th:if="${imageState.count <= 4}" th:src="@{'data:image/jpeg;base64,'+${image.encodeBase64}}"/>

            </span>
        </div>


    </div>

</div>


<!--modal edit-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload avatar</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="post" th:action="@{/saveAvatar(email = ${#authentication.name})}"
                  enctype="multipart/form-data" id="formAvatar">
                <div class="modal-body">

                    <label class="col-form-label">If you have a avatar then user can find you more simply</label>
                    <input type="file" class="form-control" name="image" id="image" required="required">

                </div>

                <div class="modal-footer">
                    <button type="submit" id="submit" class="btn btn-outline-success" form="formAvatar">Save changes
                    </button>
                </div>

            </form>


        </div>


    </div>
</div>
<!--modal edit-->


<!--modal gallery-->
<div class="modal fade" id="modalGallery" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <div class="photosGallery">
                 <span th:each="image : ${images}">

                 <img  th:src="@{'data:image/jpeg;base64,'+${image.encodeBase64}}"/>

                 </span>
            </div>


        </div>

    </div>
</div>
<!--modal gallery-->

<!--modal list friends-->
<div class="modal fade" id="modalFriends" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <div class="peopleList">
                 <div th:each="friend : ${friends}">
                     <a th:href="@{/friends/profileUser(id=${friend.getId()})}">
                            <img  th:src="@{'data:image/jpeg;base64,'+${friend.encodeBase64}}"/> <br>
                            <label th:text="${friend.getFullName()}" style="color: black"></label>
                     </a>
                 </div>
            </div>


        </div>

    </div>
</div>
<!--modal list friends-->

<script>

    window.bootstrap = require('bootstrap/dist/js/bootstrap.bundle.js');
    function showModalPhotos() {
        $('#modalGallery').modal('show');
    }

    function showModalFriends() {
        $('#modalFriends').modal('show');
    }
</script>

<script src="https://kit.fontawesome.com/39221df667.js" crossorigin="anonymous"></script>
<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>