<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="novig" th:fragment="aside">
  <aside>

    <ul class="nav flex-column">

      <li class="nav-item">
        <a th:href="@{/profile}" class="nav-link">
          <i class="far fa-user" ></i> <span class="ms-1 d-none d-sm-inline">My profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a th:href="@{/news}" class="nav-link ">
          <i class="fas fa-newspaper"></i> <span class="ms-1 d-none d-sm-inline">News</span></a>
      </li>

      <li class="nav-item">
        <a th:href="@{/chat}" class="nav-link">
          <i class="fas fa-comments" ></i> <span class="ms-1 d-none d-sm-inline">Messenger <label th:if="${user.countMessages > 0}" th:text="${user.countMessages}" class="count" ></label></span> </a>
      </li>


<!--      ${#authentication.name} == ${userAuthen.getEmail()}-->


      <li class="nav-item">
        <a th:href="@{/friends}" class="nav-link">
          <i class="fas fa-user-friends"></i> <span class="ms-1 d-none d-sm-inline">Friends

          <span  th:if="${userAuthen} == null">
             <label th:if="${user.countRequestUser > 0}" th:text="${user.countRequestUser}" class="count"> </label>
          </span >


        </span> </a>
      </li>

      <li class="nav-item">
        <a th:href="@{/groups}" class="nav-link">
          <i class="fas fa-users"></i> <span class="ms-1 d-none d-sm-inline">Groups</span> </a>
      </li>

      <li class="nav-item">
        <a th:href="@{/gallery}" class="nav-link">
          <i class="fas fa-images"></i> <span class="ms-1 d-none d-sm-inline">Gallery</span> </a>
      </li>

    </ul>

  </aside>
</div>

</body>
</html>