<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/friends.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>
<body>


<div class="findFriend" th:fragment="findFriend">
    <div class="findFriend">
        <span style="padding-left:35%">Searching friend</span>
        <hr>
            <input type="text" id="filter" size="25" placeholder="Enter name or lastname">
    </div>

    <div class="peopleList" id="peopleList">

            <div class="people"  th:each="people, state : ${peoples}">
                <a th:href="@{/friends/profileUser(id=${people.getId()})}">
                    <img  th:src="@{'data:image/jpeg;base64,'+${people.encodeBase64}}"/> <br>
                    <label th:text="${people.getFullName()}" style="color: black"></label>
                </a>

            </div>



    </div>


</div>

</body>
</html>