<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div class="findPeople" th:fragment="findGroup">
    <div class="findFriend">
        <span style="padding-left:35%">Searching new group</span>
        <hr>

        <div id="formKeyword">
            <form method="post" th:action="@{/groups/searchGroup}" id="formSearchPeoples">
                <input type="text" id="keyword" name="keyword" size="25" onkeyup='saveValue(this);' autofocus oninput="searchPeopleF(this)" placeholder="Enter name or lastname">
            </form>
        </div>


    </div>

    <div class="peopleList" >

        <div class="people" th:each="group : ${groups}" style="text-align: center; padding-left: 10.5%">

            <a th:href="@{/groups/showGroup(id=${group.getId()})}">
                <img  th:src="@{'data:image/jpeg;base64,'+${group.encodeBase64}}"/> <br>
                <label th:text="${group.name}" style="color: black"></label>
            </a>

        </div>


    </div>


</div>


</body>
</html>