<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/friends.css}">

</head>
<body>

<div class="findPeople" th:fragment="findPeople">
    <div class="findFriend">
        <span style="padding-left:35%">Searching new people</span>
        <hr>

        <div id="formKeyword">
            <form method="post" th:action="@{/friends/searchPeople}" id="formSearchPeoples">
                <input type="text" id="keyword" name="keyword" size="25" onkeyup='saveValue(this);' autofocus oninput="searchPeopleF(this)" placeholder="Enter name or lastname">
            </form>
        </div>


    </div>

    <div class="peopleList" >

        <div class="people" th:each="people, state : ${peoples}">
            <a th:href="@{/friends/profileUser(id=${people.getId()})}">
                <img  th:src="@{'data:image/jpeg;base64,'+${people.encodeBase64}}"/> <br>
                <label th:text="${people.getFullName()}" style="color: black"></label>
            </a>

        </div>


    </div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{../static/js/friends.js}"></script>
</body>
</html>