<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

<header class="mb-4" th:fragment="header">

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">

            <a class="navbar-brand" href="#" style="padding-left: 10.3%;">
                <img th:src="@{../static/images/logo.webp}" alt="" width="35" height="35"
                     class="d-inline-block align-text-top">
            </a>
            <span class="navbar-text nameSite"  style="padding-right: 7%">
                    Friending
                </span>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto top-menu">

                </ul>

                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" style="color: black"><i
                                class="far fa-user"></i></a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="right: 0; left: auto;">
                            <li><a class="dropdown-item" href="#">

                                <div sec:authorize="isAuthenticated()">
                                    <span sec:authentication="name"></span>
                                </div>

                            </a></li>
                            <li><a class="dropdown-item" th:href="@{/login}">Logout</a></li>

                        </ul>

                    </li>

                </ul>

            </div>

        </div>
    </nav>
</header>

</body>
</html>