<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div class="incomingFriend" th:fragment="incomingFriend">


    <div class="peopleList" >

        <div class="people" th:each="people, state : ${requestUser}">

            <a th:href="@{/friends/profileUser(id=${people.getId()})}">
                <img  th:src="@{'data:image/jpeg;base64,'+${people.encodeBase64}}" style=""/> <br>
                <label th:text="${people.getFullName()}" style="color: black"></label><br>
            </a>

            <ul>
                <li> <a th:href="@{/friends/acceptedOrIgnoredFriend(id=${people.getId()}, state = 'accepted')}" type="button" class="btn btn-outline-primary btn-sm">Add friend</a></li>
                <li> <a th:href="@{/friends/acceptedOrIgnoredFriend(id=${people.getId()}, state = 'ignored')}" type="button" class="btn btn-outline-secondary btn-sm">Ignored</a></li>
            </ul>
        </div>


    </div>


</div>

</body>
</html>