<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="room" th:fragment="room" >

        <div class="headerChat" id="nameRecipient">

        </div>


        <div class="contentChat" id="contentChatId">

        </div>



        <div class="footer">
            <textarea name="textAreaMess" cols="80" rows="2" id="sendMess"></textarea>
        </div>



        <span id="currentEmailUser" th:text="${user.getId()}" style="display: none"></span>

    </div>

</body>
</html>