<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="room" th:fragment="room">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias commodi eveniet fuga fugit harum minima numquam officia ut voluptates. Adipisci blanditiis eos facilis laudantium quibusdam quis vel veniam? Labore!
    </div>

</body>
</html>